main {
    width: 1200px;
    margin: 0 auto;
}

.container-principal {
    width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}


.container-title {
    display: flex;
    justify-content: space-between;
}